#ctries_set1 {
	
margin-right:500px;
position:absolute;
top:210px;
}

#ctries_set2 {

position:absolute;
left: 120px;
top: 210px;
margin-right:30px;
}


div.seating {

position:absolute;
left:323px;
top:210px;
}

div.CC_No {
	width:300px;
	text-align:left;
	position:relative;
	left: 230px;
	top: -20px;
}

#no_of_people {
	margin-right:500px;
	text-align:right;
	position:relative;
	top:-75px;
	left:310px;
	}